body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}

.container {
  padding: 10px 0;
  position: relative;
  width: 40%;
  margin: 0 auto;
}

.header {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 40%;
  background-color: #fff;
}

.playing {
  color: red;
  font-weight: 500;
  text-align: center;
}

.music-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.music-thumb {
  background-image: url(./Thumbs/song5.jpg);
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.music-thumb-wrap {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.range {
  margin-top: 20px;
  -webkit-appearance: none;
  width: 100%;
  display: block;
}

.range::-webkit-slider-runnable-track {
  background-color: #ddd;
  height: 7px;
  border-radius: 0;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: red;
  width: 14px;
  height: 7px;
  box-shadow: 0 0 5px rgba(255, 194, 39, 0.2);
  cursor: pointer;
}

.actions {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.fa-solid {
  font-size: 23px;
  cursor: pointer;
}

.play-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-btn:hover {
  opacity: 0.8;
}

.fa-play,
.fa-pause {
  color: white;
}

.fa-pause {
  display: none !important;
}

.play-btn--playing .fa-pause {
  display: inline-block !important;
}

.play-btn--playing .fa-play {
  display: none;
}

.fa-shuffle--active,
.fa-arrow-rotate-right--active {
  color: red;
}

.playlist {
  width: 95%;
  margin: 440px auto 0;
}

.song {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song--active {
  background-color: rgb(174, 45, 45);
  color: white;
}

.song + .song {
  margin-top: 20px;
}

.song__col {
  margin-left: 15px;
}

.song__thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.fa-ellipsis {
  margin-left: auto;
}

.song__title {
  font-size: 16px;
  font-weight: 500;
}

.song__actor {
  margin-top: 5px;
}

/* cmt
 */
